@import "tailwindcss";

:root {
  --background: #0A0A0F;
  --foreground: #EDEDED;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
